<div class="container">
    <div class="topbar">
        <div class="tlt">
            <ul class="texts" style="display: none">
                <li>STUDIO SABAB - KINSHASA</li>
                <li>Le premier Studio d'enregistrement et de mixage à Kinshasa</li>
            </ul>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav black-bp-text">
                        <li>
                            {{#linkTo 'index'}}<!--i class="icon-home icon-black"></i-->&nbsp;Studio Sabab{{/linkTo}}
                        </li>
                        <li>{{#linkTo 'materials'}}<img src="img/guitare.png" style="width:21; height:21px;">Matériels{{/linkTo}}</li>
                        <li>{{#linkTo 'artists'}}<!--i class=" icon-music icon-black"></i-->&nbsp;Références{{/linkTo}}</li>
                        <li>{{#linkTo 'partners'}}<!--i class="icon-lock icon-black"></i-->&nbsp;Partenaires{{/linkTo}}</li>
                        <li>{{#linkTo 'contacts'}}<img src="img/contact/contact.png" style="width:21; height:21px;">&nbsp;Contact{{/linkTo}}</li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            {{#linkTo 'index' classNames='disabled brand black-bp-text largeFont'}}&nbsp;Studio Sabab - Kinshasa{{/linkTo}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sound-frame">
        <!--iframe width="100%" height="150" scrolling="yes" frameborder="yes" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F44619882&amp;color=5f00ff&amp;auto_play=false&amp;show_artwork=false"></iframe -->
    <object height="127px" width="100%"><param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F44619882&amp;color=000040&amp;auto_play=true&amp;show_artwork=false&amp;show_playcount=false&amp;show_comments=false"></param><param name="allowscriptaccess" value="always"></param><embed allowscriptaccess="always" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F44619882&amp;color=ff6600&amp;auto_play=true&amp;show_artwork=false&amp;show_playcount=true&amp;show_comments=false" type="application/x-shockwave-flash" width="100%" height="127px"></embed>
</object>
    </div>
    <div class="content-font">
        {{outlet}}
    </div>
    <hr>
    <div class="footer">
         © Studio Sabab 2013 - developped and Designed by Dooley
    </div>
</div>


