<div class="navbar">
   <div class="navbar-inner">
      <a class="brand" href="#">Studio Sabab</a>
      <ul class="nav">
        <li>{{#linkTo 'materials'}}Matériels{{/linkTo}}</li>
      </ul>
      <ul class="nav">
        <li>{{#linkTo 'artists'}}Artistes{{/linkTo}}</li>
      </ul>
   </div>
   </div>
</div>
{{outlet}}