<div class="container">
    <div class="topbar">
        <div class="tlt">
            <ul class="texts" style="display: none">
                <li>STUDIO SABAB - KINSHASA</li>
                <li>Le premier Studio d'enregistrement et de mixage à Kinshasa</li>
            </ul>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav black-bp-text">
                        <li>
                            {{#linkTo 'index' classNames='largeFont'}}<i class="icon-home icon-black"></i>&nbsp;Studio Sabab{{/linkTo}}
                        </li>
                        <li>{{#linkTo 'materials'}}<i class="icon-headphones icon-black"></i>&nbsp;Collaboration{{/linkTo}}</li>
                        <li>{{#linkTo 'artists'}}<i class="icon-user icon-black"></i>&nbsp;Artistes{{/linkTo}}</li>
                        <li>{{#linkTo 'materials'}}<i class="icon-user icon-black"></i>&nbsp;Nos Musiciens{{/linkTo}}</li>
                        <li>{{#linkTo 'artists'}}<i class="icon-user icon-black"></i>&nbsp;Projets{{/linkTo}}</li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="disabled">
                            <a class="brand"> 
                                <div class="black-bp-text">Studio Sabab</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{outlet}}
</div>


