
<div class='alert alert-warn headline'>
	Les grands noms de la musique Congolaise nous font confiance
</div>
<hr>
<div id="this-carousel-id" class="carousel slide">
	<ol class="carousel-indicators">
    	<li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
    	<li data-target="#this-carousel-id" data-slide-to="1"></li>
  	</ol>
  	<div class="carousel-inner">
	    <div class="active item"> 
	        <img class="photos" src="/img/StudioSabab/Wazekwa2.jpg" alt="" width="770" height="380" > 
	        <div class="carousel-caption">
            	<p class='centering'>Felix Wazekwa</p>
          	</div>
	    </div>
	    <div class="item">    	 
        	<img class="photos" src="/img/StudioSabab/Werra2.jpg" alt="" width="770" height="380"> 
	        <div class="carousel-caption">
            	<p class='centering'>Werrason</p>
          	</div>
	  	</div>
	</div>
 	<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  	<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>