 
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Nos Références</li>
          {{#each model}}
            {{#linkTo 'artist' this}}{{first_name}} {{last_name}}{{/linkTo}}<br/>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="span9">
      {{outlet}}
    </div>