<div id="this-carousel-id" class="carousel slide">
  	<div class="carousel-inner">
	    <div class="active item ">
	        <div class="centering">
	          <img class="photos" src="/img/StudioSabab/Wazekwa2.jpg" alt="Description" width="770" height="380" >
	        </div>
	    </div>
	    <div class="item">
	    	<div class="centering">
	        	<img class="photos" src="/img/StudioSabab/Werra2.jpg" alt="Description" width="770" height="380">
	        </div>
	  	</div>
	</div>
 	<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  	<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>