<div id="this-carousel-id" class="carousel slide">
  	<div class="carousel-inner">
	    <div class="active item ">
	        <div class="centering">
	          <img class="photos img-polaroid" src="/img/StudioSabab/Rama.jpg" alt="Description" width="auto" height="auto" >
	        </div>
	    </div>
	    <div class="item">
	    	<div class="centering">
	        	<img class="photos img-polaroid" src="/img/StudioSabab/Goubald.jpg" alt="Description" width="auto" height="auto">
	        </div>
	  	</div>
	</div>
 	<!--a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a-->
  	<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>