<div id="sliderFrame">
  	<h2> Contacts </h2>
  	<hr>
	<div class="container-fluid">
	  	<div class="row-fluid">
		    <div class="span3 ">
		    	<div class='contact-font'>
			    	<p>Téléphone: (+243) 81 14 76 962 </p>
			    	<p>E-mail : zolatempos@yahoo.fr<p/>
			    	<p>Rétrouvez nous sur <a href="http://www.facebook.com/Studio.SABAB"><img src="/img/facebook.jpeg" width="36" height="36"></a> </p>
			    	<hr>
			    	Notre adresse <br/>
			    	---------<br/>
			      	Cité de la Voix du Peuple (Bâtiment Radio/Studio E) <br/>
			      	Kinshasa, <br/>
			      	République Démocratique du Congo
			      	Cité de la Voix du Peuple 	 	
		      	</div>
		    </div>
		    <div class="span9">
		    	<div class='centering right-position'>
		    		<img src="/img/StudioSabab/location.png" width="680" height="415">
		    	</div>
		    </div>
	  	</div>
	</div>
</div>