
  	<h3> Pour nous contacter </h3>
  	<hr>
	<div class="container-fluid">
	  	<div class="row-fluid">
		    <div class="span3 ">
		    	<div class='contact-font'>
			    	<p><img src="/img/contact/phone-1.png" width="46" height="46"> (+243) 81 14 76 962 </p>
			    	<p><img src="/img/contact/mail.png" width="46" height="46"> 
			    		<a href="mailto:studiosabab@gmail.com ">studiosabab@gmail.com </a>
			    	<p/>
			    	<hr>
			    	<p>Rétrouvez nous sur<br/> 
			    		<a href="http://www.facebook.com/Studio.SABAB"  target="_blank"><img src="/img/contact/facebook.jpeg" width="46" height="46"></a> 
			    		<img src="/img/contact/google-plus.jpeg" width="41" height="41">
			    		<img src="/img/contact/twitter.jpeg" width="42" height="42">
			    	</p>
			    	<hr>
			    	Notre adresse à Kinshasa<br/>
			    	------------------------------<br/><br/>
			      	Cité de la Voix du Peuple (Bâtiment Radio/Studio E) <br/>
			      	Commune de Lingwala<br/>
			      	Kinshasa, <br/>
			      	Rép. Dém. du Congo 	
		      	</div>
		    </div>
		    <div class="span9">
		    	<div class='right-position'>
		    		<!-- google maps integration -->					
		    		<iframe width="750" height="415" frameborder="1" scrolling="yes" marginheight="1" marginwidth="1" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Cit%C3%A9+de+la+Voix+du+Peuple,+Kinshasa,+R%C3%A9publique+d%C3%A9mocratique+du+Congo&amp;aq=0&amp;oq=Cite+de+la+voix&amp;sll=37.0625,-95.677068&amp;sspn=40.188298,79.013672&amp;ie=UTF8&amp;hq=Cit%C3%A9+de+la+Voix&amp;hnear=Du+Peuple,+Kinshasa,+Lukunga,+Kinshasa,+R%C3%A9publique+d%C3%A9mocratique+du+Congo&amp;ll=-4.328719,15.297711&amp;spn=0.083338,0.111661&amp;t=m&amp;output=embed"></iframe>
		    		<br />
		    	</div>
		    </div>
	  	</div>
	</div>

 