<h1>Application Index</h1>	

<ul class="stack" >
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0292.jpg" data-glisse-big="/img/StudioSabab/DSCN0292.jpg" title="my awesome picture" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0291.jpg" data-glisse-big="/img/StudioSabab/DSCN0291.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0293.jpg" data-glisse-big="/img/StudioSabab/DSCN0293.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0297.jpg" data-glisse-big="/img/StudioSabab/DSCN0297.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0298.jpg" data-glisse-big="/img/StudioSabab/DSCN0298.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0300.jpg" data-glisse-big="/img/StudioSabab/DSCN0300.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0301.jpg" data-glisse-big="/img/StudioSabab/DSCN0301.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0302.jpg" data-glisse-big="/img/StudioSabab/DSCN0302.jpg" rel="group1"/>
	</li>
</ul>
<ul class="stack" >	
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0294.jpg" data-glisse-big="/img/StudioSabab/DSCN0294.jpg" rel="group1"/>
	</li>
	<li>
		<img class="pics" src="/img/StudioSabab/DSCN0295.jpg" data-glisse-big="/img/StudioSabab/DSCN0295.jpg" rel="group1"/>
	</li>
</ul>