<div id="sliderFrame">

    <div id="slider">
    	<img src="/img/StudioSabab/Wemba.jpg" alt="Papa Wemba au Studio Sabab" />
        <img src="/img/StudioSabab/IMG_1269.jpg" alt="Papa Wemba au Studio Sabab" />
        <img src="/img/StudioSabab/IMG_3255.jpg" alt="Werrason après avoir posé sa voix"/>
        <img src="/img/StudioSabab/IMG_3281.jpg" alt="Lors de l'écoute du mix de la chanson"/>
        <img src="/img/StudioSabab/reddy.jpg" alt="Enregistrement de l'album Likelemba"/>
    </div>
	<!--thumbnails-->
	<div class="scroll-thumb">
		<div id="thumbs">
			<div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/Wemba.jpg" /></div>
		        <div class="thumb-content"><p>Papa Wemba</p>Patron de l'orchestre Viva La Musica</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/IMG_1269.jpg" /></div>
		        <div class="thumb-content"><p>Papa Wemba</p>Patron de l'orchestre Viva La Musica</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/IMG_3255.jpg" /></div>
		        <div class="thumb-content"><p>Le Roi de la forêt</p>Werrason le patron de l'orchestre Wenge Maison Mère</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/IMG_3281.jpg" /></div>
		        <div class="thumb-content"><p>Ramazani et Le Karmapa</p>Lors de l'écoute du mix de la chanson</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/reddy.jpg" /></div>
		        <div class="thumb-content"><p>Reddy Amisi</p>Enregistrement de l'album Likelemba</div>
		        <div style="clear:both;"></div>
		    </div>
		</div>
		
	</div>
</div>

<!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
<div style="clear:both;height:0;"></div>
<!-- We will make a simple accordian with hover effects 
The markup will have a list with images and the titles-->
<!--div class="accordian">
	<ul>
		<li>
			<div class="image_title">
				<a href="#">KungFu Panda</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_1269.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Toy Story 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_3255.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Wall-E</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_3281.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_3296.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_3299.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_8556.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_8557.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/IMG_8560.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/Karmapa.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/Karmapa2.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/Manda.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/Manda2.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/Manda3.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/reddy.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/img/StudioSabab/MYRIAM2.jpg"/>
			</a>
		</li>
	</ul>
</div-->
<hr>
