<!--div id="featured"> 
	<div class="content" style="">
		 Orbit does content now. 
		 Highlight me...I'm text. 
	</div>
	<img src="/img/StudioSabab/Wemba.jpg" data-caption="#htmlCaption" data-thumb="/img/StudioSabab/Wemba.jpg" />
	<img src="/img/StudioSabab/Manda3.jpg" data-thumb="/img/StudioSabab/Manda3.jpg" />
	<img src="/img/StudioSabab/zola-Tempo.jpg" />
</div-->
<div id="sliderFrame">
    <div id="slider">
    	<img src="/img/StudioSabab/zola-Tempo.jpg" alt="Zola Tempo Artiste et Réalisateur. Propriétaire du Studio Sabab" />
    	<img src="/img/StudioSabab/Wemba.jpg" alt="Papa Wemba au Studio Sabab" />
        <img src="/img/StudioSabab/Manda3.jpg" alt="Manda Chante au Studio Sabab" />
        <img src="/img/StudioSabab/Werra2.jpg" alt="Werrason après avoir posé sa voix"/>
        <img src="/img/StudioSabab/LeKarmapaRamazani.jpg" alt="Lors de l'écoute du mix de la chanson"/>
        <img src="/img/StudioSabab/reddy.jpg" alt="Enregistrement de l'album Likelemba"/>
        <img src="/img/StudioSabab/Bozi2.jpg" alt="Enregistrement de l'album Crise Financière"/>
        <img src="/img/StudioSabab/Goubald.jpg" alt="Enregistrement de l'album Crise Norme"/>
    </div>
	 
	<div class="scroll-thumb">
		<div id="thumbs">
			<div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/zola-Tempo.jpg" /></div>
		        <div class="thumb-content"><p>Zola Tempo</p>Enregistrement de l'album Norme de Goubald</div>
		        <div style="clear:both;"></div>
		    </div>
			<div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/Wemba.jpg" /></div>
		        <div class="thumb-content"><p>Papa Wemba</p>Patron de l'orchestre Viva La Musica</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/Manda3.jpg" /></div>
		        <div class="thumb-content"><p>Manda Chante</p>Patron de l'orchestre Wenge Référence ancien de Wenge Musica</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/Werra2.jpg" /></div>
		        <div class="thumb-content"><p>Le Roi de la forêt</p>Werrason le patron de l'orchestre Wenge Maison Mère</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/LeKarmapaRamazani.jpg" /></div>
		        <div class="thumb-content"><p>Ramazani et Le Karmapa</p>Lors de l'écoute du mix de la chanson</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/reddy.jpg" /></div>
		        <div class="thumb-content">
		        	<p>Reddy Amisi</p>Enregistrement de l'album Likelemba
		        </div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/Bozi2.jpg" /></div>
		        <div class="thumb-content"><p>Grand-Père Bozi Boziana</p>Enregistrement de l'album Crise Financière</div>
		        <div style="clear:both;"></div>
		    </div>
		    <div class="thumb">
		        <div class="frame"><img src="/img/StudioSabab/Goubald.jpg" /></div>
		        <div class="thumb-content"><p>Jean-Goubald</p>Enregistrement de l'album Norme</div>
		        <div style="clear:both;"></div>
		    </div>
		</div>
	</div>
</div>

<!--clear above float:left elements. It is required if above #slider is styled as float:left. -->
<!--div style="clear:both;height:0;"></div-->
