<div id="sliderFrame">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Nos Partenaires</li>
          <h5>
          {{#each model}}
            {{#linkTo 'partner' this}} {{first_name}} {{last_name}}{{/linkTo}}<br/>
          {{/each}}
          </h5>
        </ul>
      </div>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
</div>