
body {
    font-family: "runda";
    overflow-x: hidden;
    font-size: 14px;
    background: #F1F5FF; 
    background: black;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 110px;
}
.right-position{
	float: right;
}
.centering{
    text-align: center;
}
.content-font{
    color: black;
}
.black-bp-text{
	font-size: 16px;
}
.tlt{
    color: #F0EADF;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    font-family:Lucida Sans Unicode;
    position: relative; top: 30px;
}
.topbar{
    width:auto; 
    display:block; 
    height:80px;
    margin-bottom: 10px;
    background: transparent url("/img/StudioSabab/console.jpg") repeat;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    text-align: center;
    font-size: 18px;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px
*/
.accordian {
	width: auto; 
	height: 480px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 10px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	height: 480px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;height: 480px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;height: 480px;}


.accordian li img {
	display: block;
	height: 480px;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; 
	bottom: 0;
	width: 950px;
}

.image_title a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
.nav-header{
	text-transform : none;
	font-size: 20px;
	color: black;
}
.footer{
    font-family: "arial";
    text-align: center;
    font-size: 10px;
    color: #676767;
}
.headline{
	color:#76879b;
	font-weight: 100; margin-bottom: 0;

	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
	margin:2px;
	font-size: 16px;
	text-align: center;
}
.contact-font{
	color:#06075b;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-size: 17px;
}

